<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Authentication App with NodeJS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>

       <nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header"><a href="/dashboard" class="navbar-brand">Authentication App with NodeJS</a></div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/dashboard">Dashboard</a></li>
					<li><a href="/store">Create a Nerd</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</nav>

		<main>
			<div class="container">
				<div class="jumbotron text-center">
					<h2><%= nerd.name %></h2>
					<p>
						<strong>ID:</strong> <%= nerd._id %><br>
						<strong>Email:</strong> <%= nerd.email %><br>
						<strong>Level:</strong> <%= nerd.nerd_level %>
					<p>
				</div>
			</div>
			
		</main>

    </body>
</html>